<h3>Rechner</h3>

<div class="grid text-center">
	<p class="g-col-12 user-select-none">@Rechenwerk.AnzeigeText</p>

	<button class="g-col-3 btn btn-primary">1</button>
	<button class="g-col-3 btn btn-primary">2</button>
	<button class="g-col-3 btn btn-primary">3</button>

	<button @onclick="@Loeschen" class="g-col-3 btn btn-outline-primary">Löschen</button>
</div>