<div>
	<h1>Titel</h1>
	<h3>Überschrift</h3>
	<p>Das hier ist ein Text</p>
</div>

<p>@Text</p>

<input @bind-value="@Text" />

<button @onclick="@LoescheText" class="btn btn-primary">Lösche Text</button>

<button @onclick=@Abcd>ABCD</button>